/* Admin-users.css */

.admin-users-section {
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.admin-users {
  margin-top: 20px;
  overflow-x: auto; /* Enable horizontal scroll if needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.link-button,
.delete-btn {
  padding: 8px 16px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.link-button {
  background-color: #4caf50;
  color: white;
}

 {
  background-color: #f44336;
  color: white;
  margin-left: 10px;
}

////
/* Admin-Contacts.css */

.delete-btn,
.link-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
